html,
body {
  color: #313131;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.personal-details {
  border-right: 4px solid #313131;
  font-family: Helvetica, Arial, sans-serif
}

.details-container {
  margin-bottom: 40px;
}

.details-container.profile {
  margin-top: 20px;
  text-align: center;
}

.about-and-contact .fa {
  width: 34px;
  line-height: 34px;
}

.fa-briefcase {
  background-color: #313131;
  border-radius: 50%;
  color: #fff;
  height: 60px;
  line-height: 60px;
  margin-right: 16px;
  text-align: center;
  width: 60px;
}

.work-experience-title {
  margin: 24px 0;
}

.details-title,
.work-experience-title span {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.work-experience-item {
  height: 75px;
}

.work-item-logo {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  width: 75px;
  text-align: center;
}

.work-item-logo img {
  width: 100%;
  height: 100%;
}

.work-item-company {
  display: inline-block;
  height: 75px;
  padding-left: 10px;
  vertical-align: top
}

.work-item-company .job-title {
  font-size: 17px;
  font-weight: 600;
  height: 50%;
}

.work-item-company .company-details {
  color: #97aac3;
  height: 50%;
  line-height: 18px;
}

.avatar {
  border-radius: 50%;
  border: 4px solid #313131;
  max-width: 100%;
}

.first_name,
.job_title {
  font-size: 32px;
}

.last_name {
  font-size: 42px;
}

.details-title{
  text-transform: uppercase;
}

.first_name,
.last_name,
.job_title {
  font-weight: 400;
  max-width: 100%;
}

.job_title {
  color: #858ea1;
}
